.footer-container {
  background-color: #c8e3f5;
  margin-top: 60px;
  // border-top: 1px solid #fff;
  padding-top: 30px;
  display: grid;
  grid-template-columns: auto auto auto;
  text-align: center;

  .footer-about {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .copyright {
      padding-top: 50px;
      color: #737e90;
    }
    .rights {
      color: #737e90;
    }

    h2 {
      cursor: pointer;
      color: #4433FF;
    }
  }

  .footer-subjects {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .footer-tutorials {
    width: 12.5rem;

    .langs {
      cursor: pointer;
      display: grid;
      margin-left: 50px;
      grid-template-columns: 1fr 1fr;
      padding-bottom: 20px;

      .space {
        padding-bottom: 10px;
      }

      .css {
        margin-right: 13px;
      }
    }
  }

  .footer-links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;


    .socials {
      padding-bottom: 10px;
      cursor: pointer;
    }

    a {
      text-decoration: none;
      color: black;
      text-align: center;
      padding-top: 10px;
    }
  }

  h3 {
    color: #737e90;
    font-weight: 300;
  }
}

@media (max-width: 1200px) {
  .footer-container {
    text-align: left;
    padding: 30px;

    .footer-tutorials {
        
      .langs {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-left: 4px;
      }
    }
  }
}
